@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100%;
    background: #fff;
}

.trs{
  transition: 530ms all;
}



/* !Header */

.container-fluid .logo img{
    width: 50px;
    height: 50px;
}
.container-fluid .content ul{
    list-style: none;
}
.container-fluid .content ul a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
}
 .secilen{
    color: orange !important;
    border-bottom: 3px solid orange;
}
.container-fluid .content ul a:hover{
    color: orange;
    border-bottom: 3px solid orange;
}

/* !Navbar */
#nav-logo{
    visibility: hidden;
}
#nav-content{
    visibility:hidden;
}
.mny:hover{
    color: orange !important;   
}
/* !Carausel */
.crsl-btn{
   width: 40%;
   padding: 10px;
   border-radius:10px ;
   text-decoration: none;
   background-color: seagreen;
   color: #fff;
   transition: .7s;
}
.crsl-btn-i{
    transform: translatex(-10px);
    display: none;  
    transition: .5s;   
}
.crsl-btn:hover{
  background-color: red;
}
.crsl-btn:hover .crsl-btn-i{
    transform: translatex(10px);
    display: inline-block;
}
/* !Bilgi Pop */
.bilgi-row{
    background-color: rgba(248,249,250,255);
}

/* !index-ürünler */
.index-category{
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    overflow:hidden
}
.index-category .index-baslik{
    color: orange;
}
.index-category ul{
    list-style-type: none;
}

.index-category ul a{
    text-decoration: none;
    color:rgb(170, 156, 156);
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
}
.index-category ul a:hover{
    color: black
}
.anime-yazi{
    margin-top: 150px;
    margin-right: 150px;
}
.i-anime{
    font-size: 30px ;
    font-family: 'Sigmar', cursive;
   color: red;
   animation: musa 2s linear alternate infinite ;
}
@keyframes musa{
    0%{
       color: #111;
    }
    50%{
       color: blue;
    }
    100%{
      color: chartreuse;
    }
}
.i-anime1{
    font-size: 30px ;
    font-family: 'Sigmar', cursive;
    animation: musa1 2s linear alternate infinite;
}
@keyframes musa1 {
    0%{
        color: blue;
    }
    100%{
        color: chartreuse;
    }
}
.i-anime2{
    font-size: 30px ;
    font-family: 'Sigmar', cursive;
    color: aqua;
    animation: musa2 2s linear alternate infinite;
}
@keyframes musa2{
    from{
        transform: scale(1.5);
    }
    to{
       
        color: #612ab9;
    }
}
.en-cok-card{
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    
}

.ürün-card{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    
}
.ürün-baslik{
    color: orange;
}
.ürün-card img{
    width: 100%;
    height: 100%;
    object-fit: inherit;
}
.urun-card2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #afc7b1;
    color: black;
    padding: 5px 30px 30px 30px;
    left: 0;
    bottom: -93%;
    text-align: center;
    transition: 350ms all;
}
.urun-card2-text p{
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.urun-card2-text h3{
    font-weight: 600;
    color: red;
    margin-bottom: 20px;
}
.urun-card2-text h4{
    font-weight: 600;
    color: blue;
    margin-bottom: 30px;
}
.urun-card2-text a{
    text-decoration: none;
    padding: 5px 20px;
    background-color: seagreen;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    transition: 350ms all;
    
}
.urun-card2-text a:hover{
    background-color: red;
}
.urun-card2-text a i{
    display: inline-block;
    margin-left: -25px;
    opacity: 0;
    transition: 350ms all;
}
.urun-card2-text a:hover i{
    margin-left: 0;
    opacity: 1;
}

.ürün-card:hover .urun-card2{
   bottom: -10%;
   transform: rotate(3deg);
}

.sehpa-div{
    position: relative;
    text-align: center;
}
.sehpa-price{
    position: absolute;
    top: 5px;
    right: 5px;
    transform: rotate(10deg);
    font-weight: bold;
    font-size: 18px;
    color: red;
}
.sehpa-div a{
    text-decoration: none;
    background-color: seagreen;
    color: #111;
    font-size: 20px;
    padding: 5px 5px;
    width: 100%;
    border-radius: 10px;
    transition: 350ms all;
}
.sehpa-div a:hover{
    background-color: red;

}
.add-btn{
    cursor: pointer;
}

/* !footer */
.footer-width{
    width: 33%;
}
.footer{
    width: 100%;
   
    background-color: #333;
    padding: 20px;
    z-index: 1;
}
.footer-icon a{
    font-size: 30px;
    color:white;
    transition: 530ms all;
}
.footer-icon a:hover{
    color: rgb(90, 77, 201); 
    border-bottom: 2px solid white;
    
}

.alert{
    position: sticky;
    top: 100px;
    z-index: 10;
    visibility: hidden;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 4px;
    border: 1px solid #4529a8;
}
::-webkit-scrollbar-track{
    background-color: #612ab9;

}














@media screen and (max-width:992px){
    /* header */
    .container-fluid .content{
       display: none;
    }
    .container-fluid .logo{
       margin: auto;
    }
    .container-fluid .logo img{
       width: 150px;
    }
    /* indexürünler */
    .index-category{
        text-align: center;
    }
    .anime-row{
        display: none !important;
    }
    /* ürünlerKategori */
    .ürünler-kategori{
        text-align: center;
    }
}
@media screen and (max-width:750px){
   /* header */
   .container-fluid .logo{
      margin-left: 0px;
   }
   /* footer */
  .footer{
    flex-direction: column;
    text-align: center;
  }
 .footer-icon,.footer-text{
    margin-bottom: 30px;
 }
  .footer-logo img{
    float: none !important;
  }
.footer-width{
    width: 100%;
}
  
}